<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking form</title>
    <link rel="stylesheet" href="style-rezervacije.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div id="form">
        <h1 class="text-white text-center">Rezervacija</h1>

        <div class="reservation-details">
          <p><strong>Ime:</strong> $ime</p>
          <p><strong>Prezime:</strong> $prezime</p>
          <p><strong>Broj telefona:</strong> $broj_telefona</p>
          <p><strong>Email:</strong> $email</p>
          <p><strong>Dolazak:</strong> $dolazak</p>
          <p><strong>Odlazak:</strong> $odlazak</p>
          <p><strong>Broj osoba:</strong> $broj_osoba</p>
          <p><strong>Soba:</strong> $soba</p>
        </div>

        <p class="text-center">Hvala što ste izabrali naš hotel!</p>
      </div>
    </div>
  </body>
</html>